@model Product

<div class="col px-2">
    <div class="card mt-2">
        <img src="@Model.ImageThumbnailUrl" alt="">
        <div class="card-body">
            <h3>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">@Model.Name</a>
            </h3>
            <h3 class="d-block">@Model.Price.ToString("c")</h3>
        </div>
        <a class="btn btn-primary"
           asp-controller="ShoppingCart"
           asp-action="AddToShoppingCart"
           asp-route-productId="@Model.ProductId">Add to cart</a>
    </div>
</div>